*{

margin:0;
padding:0;
box-sizing:border-box;

}

body{

font-family:Arial, Helvetica, sans-serif;
background:#f4f6f8;
color:#333;

}

header{

background:#0b4f8a;
color:white;
padding:30px;
text-align:center;

}

nav{

margin-top:20px;

}

nav a{

color:white;
text-decoration:none;
margin:15px;
font-weight:bold;

}

nav a:hover{

color:yellow;

}

.banner{

background:#dcefff;
padding:40px;
text-align:center;

}

section{

padding:50px;

}

section h2{

margin-bottom:20px;
color:#0b4f8a;

}

.cards{

display:flex;
gap:20px;
flex-wrap:wrap;

}

.card{

background:white;
padding:20px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,.2);
flex:1;
min-width:250px;
transition:.3s;

}

.card:hover{

transform:scale(1.05);

}

ul{

margin-left:25px;
line-height:35px;

}

.linha{

display:flex;
justify-content:space-around;
flex-wrap:wrap;
margin-top:30px;

}

.linha div{

background:white;
padding:20px;
width:200px;
margin:10px;
text-align:center;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,.2);

}

.linha h3{

font-size:40px;
color:#0b4f8a;

}

button{

padding:15px;
margin:10px;
background:#0b4f8a;
color:white;
border:none;
border-radius:8px;
cursor:pointer;
font-size:16px;

}

button:hover{

background:#08365d;

}

#resultado{

margin-top:20px;
color:green;

}

footer{

background:#222;
color:white;
padding:30px;
text-align:center;

}

@media(max-width:768px){

.cards{

flex-direction:column;

}

.linha{

flex-direction:column;
align-items:center;

}

}
